/* Common */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* Debug  */


/* Header  */
.site_header #logo{
  height: 70px;
  padding-right: 1.5rem;
  border-right: 1px solid lightgrey;
}

.site_header .navigation{
  margin: 2.4rem 0.1rem;
}

.navigation a{
  color: #8A8A8A;
  padding-right: 0.8rem;
  text-decoration: none;
  font-size: 1.3rem;
}
/* Main  */

/* Primary  */
.primary{
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
  margin: 20px 0;
  border-radius: 1rem;
}

.primary .mask{
  height: 100%;
  background-color: rgba(0, 10, 10, 0.2);
  border-radius: 1rem;
}

.primary .primary_text{
  width: 57.7%;
  padding: 25.2rem 0 0 3.8rem;
  color: white;
}

.primary_text > h1{
  font-size: 2.4rem;
  font-weight: 300;
}

.primary_text > p{
font-size: 1.3rem;
}

/* Secondary */
.secondary p{
  color: #8A8A8A;
}

.secondary h4{
  padding: 1rem 0;
  font-weight: 600;
}

/*secondary header*/
.secondary_header{
  margin: 2.5rem 0 1rem 0;
}

.secondary_header > h1{
  font-weight: 700;
  font-size: 2.5rem;
}

/*sidebar content*/
.sidebar, .content{
  float: left;
  margin: 20px 0;
}

.sidebar{
  width: 16%;
}

.content{
  width: 66%;
  margin: 20px 1%;
}


.mask{
  height: 100%;
  background-color: rgba(0, 10, 10, 0.2);
  border-radius: 0.7rem;
}

.left .image{
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-position: center;
  height: 16rem;
}

.left .image, .content .image{
 background-size: cover;
 background-position: center;
 height: 16rem;
}

.content .image{
 background-image: url("../img/banner-2.jpg");
}

.right .image{
  background-image: url("../img/img-3.jpg");
}



/* Footer  */
.site_footer{
  margin-top: 10px;
  text-align: center;
  padding: 1rem 0;
}

#hearts{
  color: red;
  font-size: 1.8rem;
}